*
{
	background-color: #e5e5e5;
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

span{
	float:right;
	margin-top:1rem;
}

.header ul li {	
	padding: 1rem;
	list-style: none;
	display:inline-flex;
	align-items: center;
	align-items: top;
}

.logo{
	padding: 1rem;		
}

.paginator ul li a{
	align-items: center;
	display: inline-flex;
	width: 100%;
	list-style: none;	
	align-items: center;
	font-size: 1.0rem;
	text-decoration: none;
}


.painel {
margin:  0;
padding: 10px;
width: 100%;

}



.painel li {
padding: 1rem;
display: inline-block;
margin: 2px;
padding-bottom:5px;

}


.painel h2 {
font-size: 24px;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 10px;
}

.painel a {
color: #333;
font-size: 14px;
text-align: center;
text-decoration: none;
}

.painel p{	
font-size: 10px;
width: 90px;
text-indent: 1px;
text-align: justify;
	
}
.painel a img{
  width: 9.5rem;
}

.footer{
	padding:3rem 0rem;
}

.img-footer{
	padding-top: 1rem;
	margin-left: 25px;
}
.footer-grid{	
	display: inline-flex;
	grid-template-columns: repeat(2, 1fr);
	grid-gap:1.7rem;
}
.footer-card{
	padding-top: 1rem;
	font-size: 0.9rem;
	margin-left:30px;
	align-items: left;
}
 .footer-form{
 	padding-top: 1rem;
 	font-size: 0.9rem;
 }

 .social{
 	padding-top:1rem;
 	margin-right: 50px;


 }
 .social ul {
 	list-style: none;
  	
 }
.social ul li a{
	pad
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: blue;
   color: white;
   text-align: center;
}









